<app-header></app-header>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')"
  (closed)="events.push('close!')">
    <mat-nav-list>
      <mat-list-item>Home  <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon></mat-list-item>
      <mat-list-item>Reports</mat-list-item>
      <mat-list-item>Settings</mat-list-item>
    </mat-nav-list>
  </mat-sidenav>


    <mat-sidenav-content>
      <p><button  mat-button   [(ngModel)]="opened" (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button></p>
      <!-- <button mat-button (click)="sidenav.toggle()">sidenav.toggle()</button></p> -->
      <!-- <p>Events:</p> -->
      <!-- <div class="example-events">
        @for (e of events; track e) {
          <div>{{e}}</div>
        }
      </div> -->
      <app-dashboard></app-dashboard> 
    </mat-sidenav-content>
</mat-sidenav-container>

<app-footer></app-footer>

<!-- <router-outlet /> -->
